@model List<Cody_v2.Repositories.Entities.Product>
@{
    ViewData["Title"] = "Dashboard";
}

    <div class="row">
@{
    if (@Model != null)
    {
        foreach (var item in @Model)
        {            
            <div class="col-4">
            <div class="card" style="width: 18rem;">
              @*<img class="card-img-top" src="..." alt="Card image cap">*@
              <div class="card-body">
                <h5 class="card-title">@item.Name</h5>
                <p class="card-text">@item.Description</p>
                <a href="#" class="btn btn-primary">More details</a>
                <a asp-action="Create" asp-controller="Home" class ="btn btn-primary" asp-route-product="@item">Thêm</a>
              </div>
            </div>
            </div>
        }
    }
}
    </div>
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
