@{
    ViewData["Title"] = "Thông báo lấy lại mật khẩu";
}

<p>
    Kiểm tra email để lấy lại mật khẩu. Hãy kiểm tra hộp thư rác nếu không tìm thấy email xác thực
    
</p>
<p><i><u>Lưu ý:</u> Nếu Email của bạn cung cấp có tồn tại và đã được xác thực thì mới có thể nhận được email cấp lại mật khẩu.</i></p>
