@model string
<button type="submit" id="submit" class="btn btn-primary btn-block" >
    <div id="loading-spinner" class="spinner-border text-light spinner-border-sm" role="status" style="display:none;">
        <span class="sr-only">Loading...</span>
    </div> <span  class="h6">@Model</span>
</button>